#General Settings
MODE=dev
LOGGING_LEVEL=INFO

LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=""
LANGSMITH_API_KEY=""
LANGSMITH_PROJECT="ChatVIEW"

OPENAI_API_KEY=""
VLLM_URL=http://172.17.8.101:8080/v1
VLLM_KEY=None

# Auth
CHAINLIT_AUTH_SECRET="^H^nZ4sZ%IvJ~ciJ4*h_W%9_ekI@g//$8RKEQICPe0l_DV/EcF5v$FH*e$wtJ3:5"

# Password Auth
DEFAULT_ADMIN_USER=iamvega
DEFAULT_ADMIN_PASSWORD=iamvega


# Postgres Internal Worker
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
#Change this to staging to 'postgres' not 'localhost'
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=chainlit_langgraph
POSTGRES_VOLUME_PATH=./volume_dev/postgre
POSTGRES_STAGING_VOLUME_PATH=./volume_staging/postgre/

# MinIO
MINIO_BUCKET=buckets
#Change this to staging to 'minio' not 'localhost'
MINIO_ENDPOINT_URL=http://minio:9000
MINIO_ROOT_USER=chainlit_langgraph
MINIO_ROOT_PASSWORD=chainlit_langgraph
MINIO_VOLUME_PATH=./volume_dev/minio
MINIO_STAGING_VOLUME_PATH=./volume_staging/minio

POSTGRE_DS_HOST="postgres_test"
POSTGRE_DS_PORT="5432"
POSTGRE_DS_USERNAME="test_user"
POSTGRE_DS_PASSWORD="test_password"
POSTGRE_DS_DB="test_db"
